$background : #ffffff;
$contentBackground : #eee;
$toolbar : #A5D6A7;
$textcolor : #333;
$menucolor : #264348;
$primary : #3498db;
$primaryTrigger : #2980b9;
$inputColor : rgba(0, 0, 0, .05);
$inputColorActive : rgba(0, 0, 0, .1);

$white : $background;
$toolbarBorder : darken($toolbar, 5);
$toolbarActive : $toolbarBorder;
$toolbarActiveBorder : darken($toolbar, 10);
$toolbarcolor : $textcolor;

$iconhover : $toolbar;
$texthover : lighten($textcolor, 15);

