$background : #fff;
$toolbar : #ECECEC;
$toolbarBorder : darken($toolbar, 10);
$toolbarActive : $toolbarBorder;
$toolbarActiveBorder : darken($toolbar, 15);
$textcolor : #222;
$toolbarcolor : $textcolor;
$menucolor : #6C696B;