.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border     : none;
    background : $toolbar;
}

.ui-widget-content {
    border : 0;
}

.wijmo-wijaccordion-content {
    border     : 0;
    background : $contentBackground;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    box-shadow : none;
    background : $toolbarActive;
    border     : 0;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border-color : $error;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background : $toolbarActive;
    border     : none;
}

input.ui-widget.ui-priority-primary, button.ui-widget.ui-priority-primary, input.ui-widget.primary, button.ui-widget.primary {
    border     : none;
    background : $primary;
    color      : $white;

    &:hover {
        background : $primaryTrigger;
    }
}

.ui-corner-bottom,
.ui-corner-all {
    border-radius : 0;
}

