#noviusospanel {

    .nos-desktop-apps {
        padding    : 10px;

        background : $background;

        .app {
            margin     : 20px;
            padding    : 20px 20px 5px;
            @include transition();
            box-shadow : 3px 3px 1px 0px rgba(0, 0, 0, 0.05);

            &:hover {
                background : $iconhover;
            }

            .icon {
                border-radius : 0;
                background    : none;
                box-shadow    : none;

                .gloss {
                    display : none;
                }
            }

            .text {
                line-height : 16px;
                padding     : 0;
                background  : none;
                color       : $textcolor;
            }
        }
    }
}