input[type=text], input[type=password], input[type=email], input[type=number], input[type=date], input[type=datetime], input[type=datetime-local], input[type=color], input[type=tel], input[type=time], input[type=url], input[type=week], textarea, select {
    box-shadow    : none;
    border        : none;
    background    : $inputColor;
    border-radius : 0;
    text-shadow   : none;
    @include transition();

    &:active, &:focus, &:hover {

        box-shadow  : none;
        border      : none;
        background  : darken($inputColorActive, 15);
        text-shadow : none;
    }
}