.wijmo-wijmenu-horizontal .wijmo-wijmenu-link.ui-state-hover, .wijmo-wijmenu-horizontal .wijmo-wijmenu-link.ui-state-active, .wijmo-wijmenu-horizontal .wijmo-wijmenu-link.ui-state-default, .wijmo-wijmenu .wijmo-wijmenu-link.ui-state-hover, .wijmo-wijmenu .wijmo-wijmenu-link.ui-state-active, .wijmo-wijmenu .wijmo-wijmenu-link.ui-state-focus {
    border-color : $toolbarActiveBorder;
    cursor       : pointer;
    text-shadow  : none;
}

.wijmo-wijmenu-child .wijmo-wijmenu-link.ui-state-hover, .wijmo-wijmenu-child .wijmo-wijmenu-link.ui-state-active {
    background  : $toolbarActive;
    color       : $toolbarcolor;
    text-shadow : none;
    cursor      : pointer;
}