.nos-ostabs .nos-ostabs-header {

    .nos-ostabs-selected {
        background : $background;
        @include transition();
    }
}

.nos-ostabs .nos-ostabs-panel {
    border     : 0;
    margin-top : -1px;
    width      : calc(100% - $toolbarSize);
    left       : $toolbarSize;
    top        : 0;
}

.nos-ostabs div.nos-ostabs-tabs li a .nos-ostabs-label {
    font-weight : 600;
    text-shadow : none;
}